/* style the title */
#title {
    background-color: #7da2a9;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 28px;
    margin: 0;
    color: white;
}

/* style the description */
#description {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* add spacing between paragraphs */
#description p {
    margin: 6px 0;
}

/* style the container for map and bar chart */
#map-chart-container {
    display: flex;
    justify-content: space-between;
    height: 600px;
}


/* style the map */
#map {
    flex: 1;
    width: 48%;
}

#chart-menu-container {
    flex: 1;
    width: 48%;
}

/* style the chart title */
#chartTitle {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


/* style the bar chart canvas */
#barChart {
    width: 100%;
    height: 100%;
}

/* style the bar chart */
#chart {
    flex: 1;
    width: 100%;
    height: 65%;
}

/* style the menu dropdown */
#menu {
    text-align: center;
    margin-top: 20px;
}

/* style the dropdown menu */
#variableDropdown {
    text-align: center;
    font-size: 16px;
    margin-top: 60px;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    /* cursor: pointer; */
}

/* style the geocoder container */
.leaflet-control-geocoder-form {
    height: 15px;
    width: 200px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* style the geocoder input */
.leaflet-control-geocoder-form input {
    height: 100%;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* style the geocoder search button */
.leaflet-control-geocoder-form button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*style the geocoder search button on hover */
.leaflet-control-geocoder-form button:hover {
    background-color: #45a049;
}


/* style the clear selection button */
.clear-selection-button button {
    /* background-color: #4CAF50; */
    /* color: white; */
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
}

/* style the footer */
footer {
    text-align: center;
    background-color: #7da2a9;
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

/* general styles for body and page content */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    line-height: 1.5;
}

/* email links */
a[href^="mailto:"] {
    color: #4942af;
    text-decoration: none;
}